### ML Task 1 - KNN supervised classification

In [94]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [95]:
df = pd.read_csv("Social_Network_Ads.csv",index_col=0)
df.head()

          Gender  Age  EstimatedSalary  Purchased
User ID
15624510    Male   19            19000          0
15810944    Male   35            20000          0
15668575  Female   26            43000          0
15603246  Female   27            57000          0
15804002    Male   19            76000          0

In [96]:
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values MALE-1 , FEMALE-0
df['Gender'] = labelencoder.fit_transform(df['Gender'])
df.head()

          Gender  Age  EstimatedSalary  Purchased
User ID
15624510       1   19            19000          0
15810944       1   35            20000          0
15668575       0   26            43000          0
15603246       0   27            57000          0
15804002       1   19            76000          0

In [97]:
#data normalization
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

In [98]:
scaled_features = scaler.fit_transform(df.drop('Purchased',axis=1))

In [99]:
df_features = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_features.head()

     Gender       Age  EstimatedSalary
0  1.020204 -1.781797        -1.490046
1  1.020204 -0.253587        -1.460681
2 -0.980196 -1.113206        -0.785290
3 -0.980196 -1.017692        -0.374182
4  1.020204 -1.781797         0.183751

In [100]:
#test train split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled_features,df['Purchased'],
                                                    test_size=0.20,random_state=0)

In [101]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [102]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [103]:
pred = knn.predict(X_test)

In [104]:
#confusion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,pred))

[[55  3]
 [ 1 21]]

In [105]:
#accuracy
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,pred)
acc

0.95

In [106]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.98      0.95      0.96        58
           1       0.88      0.95      0.91        22

    accuracy                           0.95        80
   macro avg       0.93      0.95      0.94        80
weighted avg       0.95      0.95      0.95        80